.ganjine{
    background-image: url(../shaer-background.svg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.ganjine-yellow-part{
    height: 421px;
    width: 800px;
    background-color: #F5D36F;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid #F4BB13;
}
.ganjine-img{
    background-image: url(../gol.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.ganjine--blue-part{
    position: relative;
    width: 100%;
    height: 292px;
    top: 220px;
    left: 0;
    
}
.ganjine--blue-part::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(208,227,245,0.5);
    border: 1px solid #99C4EF;
    z-index: -11;
}